html, body{
    background-color: white;
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

main{
    margin: 0%;
}

ul{
    display:block;
    margin: 0%;
    justify-content: center;
    align-items: center;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 7%;
}

.seta{
    margin-left: 25%;
}

input, select{
    margin-top: 1%;
    border: 2px solid #E6E6E6;
}

h1{
    font-size: 120%;
    margin-bottom: 1%;
}

.opcoes{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.mais{
    margin-top: 6%;
}

h2{
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 9%;
    text-align: center;
}

.borda{
    border: solid #002147;
    padding: 5%;
    border-radius: 10px;
}