html, body{
    width: 100%;
    height: 100%;
    background-color: #002147;
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

.branco{
    background-color: white;
}

header{
    width: 100%;
    height: 10%;
    font-size: 0.8rem;
    border-bottom: 3px solid #E6E6E6;
    text-align: center;
    background-color: white;
}


header img{
    width: 25px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
header li .canto{
    width: 10%;
}

header .horizontes{
    width: 70%;
    margin: 0rem 1rem;
}

main{
    width: 90%;
    height: max-content;
    /* padding-bottom: 100%; */
}

a{
    text-decoration: none;
    color: black;
}

.select{
    margin-left: 10px;
    border: 1px solid #E6E6E6;
}

footer{
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 10%;
    font-size: 0.8rem;
    border-bottom: 3px solid #E6E6E6;
    text-align: center;
    background-color: white;
}

footer img{
    width: 40px;
}

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}
footer li .canto{
    width: 20%;
}

footer .mid{
    width: 60%;
}

.ulmeio{
    position: relative;
    left: 5%;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #002147; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* border-right: 3px solid white; */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.meio{
    position: absolute;
    color: black;
    text-decoration: none;
}

.esquerda{
    position: absolute;
    left: 1rem;
    color: black;
    text-decoration: none;
}

#oxe{
    position: absolute;
    bottom: -3.5rem;
}