html, body{
    background-color: white;
    font-family: 'Cabin', sans-serif;
    /* font-family: 'Merriweather', serif; */
}

h1{
    font-size: 220%;
}

h2{
    font-size: 180%;
    margin-top: 3rem;
    color: black;
    text-decoration: none;
}

h3{
    /* margin-top: 2rem; */
    /* margin-bottom: -1.8rem; */
    font-size: 120%;
    color: black;
    text-decoration: underline;
    font-style: italic;
    position: relative;
}

main{
    position: relative;
    height: 105%;
    left: 10%;
}

header p{
    margin: 0;
}

p{
    font-size: 120%;
    margin-top: 1rem;
    margin-right: 2rem;
}

li::before {content: "-"; color: black;
    width: 1em;
    font-size: 20px;
    margin-left: -1rem;
    position: relative;
    top: 2.3rem;
}

li{
    margin-left: 1rem;
    margin-bottom: -1.3rem;
    position: relative;
    top: -1.5rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ol{
    font-size: 100%;
}

.ordenado::before {
    content: none; color: black;
}

.ordenado{
    margin-top: 2rem;
    color: black;
    list-style-type: decimal;
    justify-content: center;
    padding-left: 5px;
}

.maria{
    position: absolute;
    left: 15%;
    top: 2rem;
    border: 6px solid black;
    width: 15rem;
}

.infos{
    position: relative;
    top: 18rem;
}

.pesquisa{
    position: absolute;
    width: 100%;
    height: 10%;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 40px;
    border: 2.5px solid #002147;
    bottom: -25rem;
    right: 5%;
}

.campus{
    position: relative;
    top: 1.5rem;
    left: 2rem;
}

.tweet {
    position: relative;
    left: -5%;
    top: 1.5rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
.username {
    font-weight: bold;
}

#novaPergunta{
    position: relative;
    left: -6%;
    width: 70%;
    height: 3rem;
    font-size: 1.1rem;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 10px;
    border: 2px solid #E6E6E6;
}

.question{
    margin-bottom: 10px;
}

.info{
    display: flex;
    font-size: 8px;
}

.info img{
    position: relative;
    margin-left: 3px;
    width: 3%;
    height: 3%;
}

.info p{
    font-size: 120%;
    margin: 0.1rem 0.9rem 0rem 0.2rem;
}

.info .direita{
    right: -1%;
    top: 8%;
    font-size: 8px;
    color: darkgrey;
}